@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode selection */
::selection {
  background-color: rgba(162, 162, 255, 0.3); /* Soft purple with transparency */
  color: #1c1c1c;
}

/* Dark mode selection */
.dark ::selection {
  background-color: rgba(138, 138, 255, 0.2); /* Darker purple with transparency */
  color: #ffffff;
}

html {
  min-width: 360px;
  background-color: white;
}

html.dark {
  background-color: #121212;
}

.prose {
  @apply text-[#333333] dark:text-[#D4D4D4];
}

.perspective-1000 {
  perspective: 1000px;
}

